/***************************************** COLOR PALETTE  *****************************************/
/*
#D9A464 = Gold
#996666 = Copper Rose
#555555 = Davy’s Grey
#003153 = Prussian Blue
#666699 = Dark Blue-Gray
#4d4d74 = Dark Dark Blue-Gray
*/


/***************************************** GLOBAL STYLES *****************************************/
*{
    max-width: 100%;
    box-sizing: border-box;
}

h1, h2, h3, h4{
    text-align: center;
    font-weight: bold;
    color: #4d4d74;
    font-family: "Sofia", sans-serif;
    text-shadow: 1px 1px 1px #003153;
}

p{
    color: #666699;
}

body{
    background-color: #996666;
    font-family: "Sofia", sans-serif;
}

div{
    display: block;
}

/***************************************** HEADER *****************************************/
#title{
    font-size: 5em;
    color: #4d4d74;
}

header p{
    text-align: center;
    font-size: 1.3em;
    color: #D9A464;
}

/***************************************** NAVIGATION BAR  *****************************************/

.navbar{
    background-color: #996666;
    position: relative;
}

.navbar ul{
    text-align: center;
}

.navbar li{
    display: inline-flex;
    font-size: 1.8em;
    margin: 0.5em ;
    padding: 0.2em;
}

.navbar a{
    text-shadow: 1px 1px 1px #555555;
}

.navbar a:link{
    color: #D9A464;
    text-decoration: none;
}

.navbar a:visited{
    color: #D9A464;
}

.navbar a:hover{
    color: #003153;
}

.navbar a:active{
    color: #003153;
}

/***************************************** SLIDESHOW *****************************************/
.slideshow{
    border-style: double;
    border-color: #666699;
    border-width: 10px;
}

h3{
    font-size: 2em;
    color: #4d4d74;
    text-align: center;
    display: block;
}

.slideshow img{
    margin-top: 1em;
    margin-bottom: 1em;
    width: 600px;
    height: 600px;
    margin-left: 30%;
}

.slideshow-container{
    position: relative;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
}

.next{
    right: 16px;
}

.slideshow-btn img{
    width: 30px;
    height: 40px;
    background-color: rgb(255, 255, 255, 0.4);
    margin-left: 31%;
}

.slideshow-btn img:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.8);
}

/***************************************** SAMPLE PRODUCTS  *****************************************/
.product-list{
    display: flex;
}

.product-list a:link{
    color: #D4AF37	;
    text-decoration: none;
    text-shadow: 1px 1px 1px #003153;
}

.product-list a:visited{
    color: #D4AF37	;
}

.product-list a:hover{
    color: #003153;
}

.product-list a:active{
    color: #003153;
}

.product-list a{
    margin: 0.2em;
    padding: auto;
    text-decoration: none;
}

.product-list img{
    width: 300px;
    height: 400px;
}

.product-list .column{
    float: left;
    width: 25%;
    padding: 5px;
}

.product-list::after{
    content: "";
    clear: both;
    display: table;
}

#more-btn{
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    background-color: #666699;
    border-style: outset;
    border-color: #4d4d74;
    border-width: 5px;
    text-decoration: none;
    color: #D4AF37;
    margin-left: 50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/***************************************** ABOUT US *****************************************/
.about-us{
    margin: 3em;
    border-style: double;
    border-width: 10px;
    border-color: #666699;
}

.about-us h1{
    font-size: 2.5em;
    color: #4d4d74;
}

.about-us p{
    text-align: center;
    font-size: 1.2em;
    margin: 1em;
    padding: 0.5em;
    color: #D4AF37;
}

/***************************************** FOOTER *****************************************/
h4{
    color:#666699;
    font-size: 1.2em;
    font-weight: bold;
}

.footer #top-btn{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    border-radius: 10px;
}

#btn img{
    width: 100%;
    height: 100%;
}

.footer p{
    display: block;
    text-align: center;
    text-shadow: 1px 1px 1px #003153;
}

.social-links a:link{
    color: #D4AF37	;
    text-decoration: none;
}

.social-links a:visited{
    color: #D4AF37	;
}

.social-links a:hover{
    color: #003153;
}

.social-links a:active{
    color: #003153;
}

/***************************************** CATEGORY NAVIGATION BAR *****************************************/
.navbar-inner ul{
    text-align: center;
    border-style: double;
    border-width: 5px;
    border-color: #4d4d74;
}

.navbar-inner li{
    display: inline-flex;
    font-size: 1.2em;
    margin-left: 7em;
    margin-right: 7em;
    padding: 0.2em;
}

.navbar-inner a{
    text-shadow: 1px 1px 1px #555555;
}

.navbar-inner a:link{
    color: #D9A464;
    text-decoration: none;
}

.navbar-inner a:visited{
    color: #D9A464;
}

.navbar-inner a:hover{
    color: #003153;
}

.navbar-inner a:active{
    color: #003153;
}

/***************************************** PRODUCT LIST *****************************************/
.full-list ul{
    list-style: none;
}

.full-list a{
    text-decoration: none;
}

.full-list img{
    width: 300px;
    height: 400px;
    position: relative;
}

.full-list a:link{
    color: #D4AF37	;
    text-decoration: none;
    text-shadow: 1px 1px 1px #003153;
}

.full-list a:visited{
    color: #D4AF37	;
}

.full-list a:hover{
    color: #003153;
}

.full-list a:active{
    color: #003153;
}

.row .column {
  float: left;
  width: 25%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

.product-info{
    display: table-cell;
}

#load-more{
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    background-color: #666699;
    border-style: outset;
    border-color: #4d4d74;
    border-width: 5px;
    text-decoration: none;
    color: #D4AF37;
    margin-left: 45.5%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/***************************************** CONTACT FORM *****************************************/
.form-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 2em;
    background-color:#003153;
    border-style: double;
    border-color:#D9A464;
    border-width: 10px;
}

form{
    margin: 2em;
    font-size: 2em;
}

label{
    color: #D9A464;
    font-weight: bold;
}

input{
    width: 600px;
    height:50px;
    border-style: inset;
    border-width: 5px;
    border-color: #996666;
    margin: 2em;
}

#message{
    width: 600px;
    height: 200px;
    border-style: inset;
    border-width: 5px;
    border-color: #996666;
    margin: 2em;
    resize: vertical;
}

#submit{
    display: block;
    margin-top: 2em;
    width: 100%;
    height: 60px;
    background-color:#996666;
    border-style: outset;
    border-width: 5px;
    border-color:#7c5353;
    font-family: "Sofia", sans-serif;
    font-size: 0.7em;
    cursor: pointer;
}