/***************************************** COLOR PALETTE  *****************************************/
/*
#D9A464 = Gold
#996666 = Copper Rose
#555555 = Davy’s Grey
#003153 = Prussian Blue
#666699 = Dark Blue-Gray
#4d4d74 = Dark Dark Blue-Gray
*/


/***************************************** GLOBAL STYLES *****************************************/
*{
    max-width: 100%;
    box-sizing: border-box;
}

h1, h2, h3, h4{
    text-align: center;
    font-weight: bold;
    color: #4d4d74;
    font-family: "Sofia", sans-serif;
    text-shadow: 1px 1px 1px #003153;
}

p{
    color: #666699;
}

body{
    background-color: #996666;
    font-family: "Sofia", sans-serif;
}

/***************************************** HEADER *****************************************/
#title{
    font-size: 5em;
    color: #4d4d74;
}

header p{
    text-align: center;
    font-size: 1.3em;
    color: #D9A464;
}

/***************************************** NAVIGATION BAR  *****************************************/

.navbar{
    background-color: #996666;
    position: relative;
}

.navbar ul{
    text-align: center;
}

.navbar li{
    display: inline-flex;
    font-size: 1.8em;
    margin: 0.5em ;
    padding: 0.2em;
}

.navbar a{
    text-shadow: 1px 1px 1px #555555;
}

.navbar a:link{
    color: #D9A464;
    text-decoration: none;
}

.navbar a:visited{
    color: #D9A464;
}

.navbar a:hover{
    color: #003153;
}

.navbar a:active{
    color: #003153;
}

/***************************************** SLIDESHOW *****************************************/
.slideshow{
    border-style: groove;
    border-color: #666699;
    border-width: 10px;
}

h3{
    font-size: 2em;
    color: #4d4d74;
}

img{
    margin-bottom: 1em;
}

.slideshow-container{
    position: relative;
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 60%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
}

.next{
    right: 16px;
}

.slideshow-btn img{
    width: 30px;
    height: 40px;
    background-color: rgb(255, 255, 255, 0.4);
    margin-left: 31%;
}

.slideshow-btn img:hover{
    cursor: pointer;
    background-color: rgb(255, 255, 255, 0.8);
}

/***************************************** SAMPLE PRODUCTS  *****************************************/
.product-list{
    display: inline-flexbox;
}

.product-list a:link{
    color: #D4AF37	;
    text-decoration: none;
    text-shadow: 1px 1px 1px #003153;
}

.product-list a:visited{
    color: #D4AF37	;
}

.product-list a:hover{
    color: #003153;
}

.product-list a:active{
    color: #003153;
}

.product-list a{
    margin: 0.2em;
    padding: auto;
    text-decoration: none;
}

.product-list img{
    width: 300px;
    height: 300px;
    object-fit: cover;
}

.product-container1{
    display: inline-flex;
    width: 300px;
}

.product-container2{
    display: inline-flex;
    width: 300px;
}

.product-container3{
    display: inline-flex;
    width: 300px;
}

.product-list #more-btn{
    display: inline-block;
    font-size: 1.3em;
    font-weight: bold;
    background-color: #666699;
    border-style: outset;
    border-color: #4d4d74;
    border-width: 5px;
    text-decoration: none;
    color: #D4AF37;
    margin-left: 50%;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

/***************************************** ABOUT US *****************************************/
.about-us{
    margin: 3em;
    border-style: ridge;
    border-width: 10px;
    border-color: #666699;
}

.about-us h1{
    font-size: 2.5em;
    color: #4d4d74;
}

.about-us p{
    text-align: center;
    font-size: 1.2em;
    margin: 1em;
    padding: 0.5em;
    color: #D4AF37;
}

/***************************************** FOOTER *****************************************/
h4{
    color:#666699;
    font-size: 1.2em;
    font-weight: bold;
}

.footer #top-btn{
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    cursor: pointer;
    border-radius: 10px;
}

#btn img{
    width: 100%;
    height: 100%;
}

.footer p{
    display: block;
    text-align: center;
    text-shadow: 1px 1px 1px #003153;
}

.social-links a:link{
    color: #D4AF37	;
    text-decoration: none;
}

.social-links a:visited{
    color: #D4AF37	;
}

.social-links a:hover{
    color: #003153;
}

.social-links a:active{
    color: #003153;
}

/***************************************** CATEGORY NAVIGATION BAR *****************************************/

/***************************************** PRODUCT LIST *****************************************/