/* GLOBAL STYLES */
*{
    max-width: 100%;
}

h1, h2, h3{
    text-align: center;
    font-weight: bold;
    color: darkred;
}

p{
    color: darkred;
}

body{
    background-color: black;
}

/* HEADER */

#title{
    font-size: 5em;
    color: darkred;
}

header{
    border-style: groove;
    border-width: 10px;
    border-color: darkred;
}

header p{
    text-align: center;
    font-size: 1.3em;
    color: darkred;
}

/* NAVIGATION BAR  */

.navbar{
    background-color: black;
    position: relative;
}

.navbar ul{
    text-align: center;
}

.navbar li{
    display: inline-flex;
    font-size: 1.8em;
    margin: 0.5em ;
    padding: 0.2em;
}

.navbar a:link{
    color: darkred;
    text-decoration: none;
}

.navbar a:visited{
    color: darkred;
}

.navbar a:hover{
    color: grey;
}

.navbar a:active{
    color: grey;
}

/* SLIDESHOW */
.slideshow{
    border-style: groove;
    border-color: darkred;
    border-width: 10px;
}

h3{
    font-size: 2em;
}

img{
    margin-bottom: 1em;
}

/* PRODUCTS  */
.product-list{
    display: inline-flexbox;
}

.product-list a{
    margin: 0.2em;
    padding: auto;
}

.product-list #btn{
    display: inline-block;
    font-size: 1.2em;
    background-color: darkred;
    border-style: outset;
    border-color: rgb(97, 0, 0);
    text-decoration: none;
    color: black;
    margin-left: 50%;
}

/* ABOUT US */
.about-us{
    margin: 3em;
    border-style: ridge;
    border-width: 5px;
    border-color: darkred;
}

.about-us h1{
    font-size: 2.5em;
}

.about-us p{
    text-align: center;
    font-size: 1.2em;
}

/* FOOTER */
h4{
    color:darkred;
    font-size: 1.2em;;
}

.footer p{
    text-align: center;
}