/* GLOBAL STYLES */
h1, h2, h3{
    text-align: center;
    font-weight: bold;
}

body{
    background-color: black;
}

/* HEADER */

#title{
    font-size: 5em;
    color: darkred;
}

header{
    border-style: groove;
    border-width: 10px;
    border-color: darkred;
}

header p{
    text-align: center;
    font-size: 1.3em;
    color: darkred;
}

/* NAVIGATION BAR  */

.navbar{
    background-color: black;
    position: relative;
}

.navbar ul{
    text-align: center;
}

.navbar li{
    display: inline-flex;
    font-size: 1.8em;
    margin: 0.5em ;
    padding: 0.2em;
}

.navbar a:link{
    color: darkred;
    text-decoration: none;
}

.navbar a:visited{
    color: darkred;
}

.navbar a:hover{
    color: grey;
}

.navbar a:active{
    color: grey;
}